# Ficheiros de Sistema e Temporários
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
desktop.ini
$RECYCLE.BIN/
.DS_Store
.AppleDouble
.LSOverride

# Logs e Temporários de Editores
*.log
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

.vercel
